@font-face {
    font-family: "nermola";
    src: url(./objet/font/NermolaScript-Regular.ttf);
}
@font-face {
    font-family: "sans";
    src: url(./objet/font/OpenSans-Regular.ttf);
}

*
{
     list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    --greeen: rgb(31, 224, 124);
    --bluue: rgb(57, 166, 218);
    --bluesoft: rgb(103, 222, 200)
}

body
{
    margin: 0;
    padding: 0;
}
nav
{
    background: linear-gradient(313deg, white 0%, rgba(103, 222, 200,0) 60%, rgba(103, 222, 200,0.01) 65%, rgba(103, 222, 200,0.02) 70%, rgba(103, 222, 200,0.05) 75%, rgba(103, 222, 200,0.1) 80%, rgba(103, 222, 200,0.2) 85%, rgba(103, 222, 200,0.35) 90%, rgba(103, 222, 200,0.5) 95%, rgba(103, 222, 200,1) 100%);
    height: 60px;
    width: 100%;
    position: fixed;
   left: 0; right: 0; top: 0;
   z-index: 1;
}
.nav-list
{
    padding: 7px 0 ;
    display: flex;
   align-items: right;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   
}
.nav-item
{
    margin-right: 2rem;
    font-weight: 600;
    font-size:  15px;
    letter-spacing: 3px;
    color: var(--greeen);
    font-family:  "sans" ;
   
}

.nav-item a 
{
   
    letter-spacing: 3px;
    color: var(--greeen);
    font-family:  "sans" ;
}
 
.nav-item a:hover
{
color: var(--bluue);
text-decoration: underline ;
}

.nav-name
{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: auto;
}

.nav-name a
{
    color: var(--bluue);
    font-family: "nermola";
}
 
#menu 
{
   margin-top: 17px;
   position: relative;
  text-align: center;
  padding: 7px;
  text-align: center;
  width: 122px;
}
#main
{
    display: none;
    top:55px;
    position: absolute;
    margin:0;
    padding: 0;
}
.main
{
    margin: 0;
   padding: 7px;
   text-align: center;
   width: 122px;
   height: 50px;
   font-family: "sans";
   border-radius: 5px;
   line-height: 35px;

}
.main a 
{
    color: white;
}

#l1
{
    background: url(./objet/ukflag.jpg) center;
    background-size:cover;
    
}
#l2
{
    background: url(./objet/frenchflag.jpg) center;
    background-size: cover;
    
}
#l3
{
    background: url(./objet/germanyflag.jpg) center;
    background-size: cover;
    
}
#l4
{
    background: url(./objet/spanishflag.jpg) center;
    background-size: cover;
    
}



 /*************/

#title
{
height: 550px;
position: relative;
}

#logotitle
{
   position: fixed;
   top: 60px;
   left: 50%;
   transform: translate(-50%);
    width : 500px;
    height : auto;
    z-index: -2;
}

#logotitle:hover
{
    transform: scale(1.2);
}
#reseauxtitle
{
font-family: "nermola";
color : var(--greeen)
}
#reseaux
{
    text-align: center;
    height: 500px;
    width: 300px;
    margin-top:90px;
    margin-left: 30px;

}
.iconrso
{
width: 50px;
height: 50px;
}


/****************/
#presentationtitle
{
    text-align: center;
    padding-top: 20px;
    font-family: "nermola";
    font-size: 2rem;
    color:var(--bluesoft);
}
#presentation
{
  
  background: var(--bluue);
  text-align: center;
  padding-bottom: 60px;

}
.card
{
    background: white;
    text-align: center;
    margin: 0;
    padding:0;
    height: 400px;
   
}
#cardtitle
{
    margin: 0;
    padding-top: 20px;
    font-family: "nermola";
    text-align: center;
}

/*******************/
#contact
{
    padding-top: 20px;
    height: 400px;
    background: teal;
}
#contacttitle
{
    font-family: "nermola";
    text-align: center;
}