@font-face {
    font-family: "nermola";
    src: url(./objet/font/NermolaScript-Regular.ttf);
}
@font-face {
    font-family: "sans";
    src: url(./objet/font/OpenSans-Regular.ttf);
}


*
{
     list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    --greeen: rgb(31, 224, 124);
    --bluue: rgb(57, 166, 218);
    --bluesoft: rgb(103, 222, 200);
}

body
{
    margin: 0;
    padding: 0;
}
nav
{
    background: linear-gradient(313deg, teal 0%, rgb(57, 166, 218) 25% ,rgb(103, 222, 200) 50% ,rgb(31, 224, 124) 100% );
    height: 70px;
    width: 100%;
    position: fixed;
   left: 0; right: 0; top: 0;
   z-index: 1;
}
.nav-list
{
    padding: 7px 0 ;
    display: flex;
   align-items: right;
   justify-content: flex-end;
   align-items: center;
   margin: 0;
   
}
.nav-item
{
    margin-right: 2rem;
    font-weight: 600;
    font-size:  15px;
    letter-spacing: 3px;
    color: var(--greeen);
    font-family:  "sans" ;
   
}

.nav-item a 
{
   
    letter-spacing: 3px;
    color: var(--greeen);
    font-family:  "sans" ;
}
 
.nav-item a:hover
{
color: var(--bluue);
text-decoration: underline ;
}

.nav-name
{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: auto;
}

.nav-name a
{
    color: var(--bluue);
    font-family: "nermola";
}
 
#menu 
{
   margin-top: 17px;
   position: relative;
  text-align: center;
  padding: 7px;
  text-align: center;
  width: 122px;
}
#main
{
    
    display: none;
    top:55px;
    position: absolute;
    margin:0;
    padding: 0;
    right: 225px;
}

.main
{
    margin: 0;
   padding: 7px;
   text-align: center;
   width: 50px;
   height: 50px;
   font-family: "sans";
   border-radius: 555px;
   line-height: 35px;
   border: 2px solid var(--bluue);
   

}
.main:hover
{
    transform: scale(1.2);
}
.main a 
{
    color: white;
}

#l1
{
    background: url(./objet/ukflag.jpg) center;
    background-size:cover;
    
}
#l2
{
    background: url(./objet/frenchflag.jpg) center;
    background-size: cover;
    
}
#l3
{
    background: url(./objet/germanyflag.jpg) center;
    background-size: cover;
    
}
#l4
{
    background: url(./objet/spanishflag.jpg) center;
    background-size: cover;
    
}



 /*************/

#title
{
height: 550px;
position: relative;
display: flex;
}

#logotitle
{
   position: fixed;
   top: 60px;
   left: 50%;
   transform: translate(-50%);
    width : 500px;
    height : auto;
    z-index: -2;
}


#reseauxtitle
{
font-family: "nermola";
color : var(--greeen)
}
#reseaux
{
    border: solid 2px var(--bluue);
    text-align: center;
    height: 500px;
    width: 300px;
    margin-top:130px;
    margin-left: 30px;

}
.spanrso
{
   opacity:0 ; 
  position: absolute;
  top: 25px;
  left: 202px;
  font-family: "nermola";
  color: var(--greeen);
  font-weight: bold;
  font-size: larger;
}
.iconrso
{
width: 50px;
height: 50px;
transition: 1s;
position: relative;
}
.iconrso:hover
{
    transform: scale(1.2);
}

#description
{
   border: 2px solid black; 
   height:500px;
   width:300px;
   margin-top: 130px;
   margin-right: 30px;
   margin-left:auto;
}
@keyframes moovetwitter
{
    0% 
    {
     transform: translate(0px,0px);    
    }
    10% 
    {
     transform: translate(20px,20px);    
    }
    20% 
    {
     transform: translate(20px,40px);    
    }
    30% 
    {
     transform: translate(-10px,40px);    
    }
    40% 
    {
     transform: translate(-110px,140px);    
    }
    50% 
    {
     transform: translate(-180px,0px);    
    }
    60%
    {        
    transform: translate(-185px,110px);    
    }
    70%
    {
    transform: translate(-40px,-130px);
    }
    80%
    {
    transform: translate(-125px,-55px);
    }
    90%
    {
    transform: translate(-20px,100px);
    }
    100%
    {
    transform: translate(0px,0px);
    }
}
#iconrso1
{
    animation: moovetwitter 15s linear ;
}


/****************/
#presentationtitle
{
    text-align: center;
    padding-top: 20px;
    font-family: "nermola";
    font-size: 2rem;
    color: whitesmoke;
}
#presentation
{
  
  background: linear-gradient(313deg, var(--bluesoft) 0%, var(--bluue) 50%, teal 85%);

  text-align: center;
  padding-bottom: 60px;

}
.card
{
    background: white;
    text-align: center;
    margin: 0;
    padding:0;
    height: 400px;
   
}
#cardtitle
{
    margin: 0;
    padding-top: 20px;
    font-family: "nermola";
    text-align: center;
}

/*******************/
#contact
{
    padding-top: 20px;
    height: 400px;
    background: teal;
}
#contacttitle
{
    font-family: "nermola";
    text-align: center;
}